body {
    font-family: 'Roboto', sans-serif;
}

.img-responsive {
    width: 100%;
    height: auto;
}

ion-icon {
    padding-top: 2rem;
    font-size: 100px;
}

// div nav hidden

#navDeroule {
    display: none;
}