// style portfolio

.portfolio-container {
    width: $largeur-container;
    margin: auto;
    margin-top: $dimension2;
    @include flex(column);

    .portfolio-item {
        width: 100%;
        @include flex();

        .placeholder {
            width: 35%;
        }

        .portfolio-contenu {
            width: 65%;
            @include flex();

            & .text-container-portfolio {
                .portfolio-paragraph {
                    margin-top: 20px;
                }
            }
        }
    }

    .portfolio-item {
        margin-bottom: $dimension;
    }

    .portfolio-item:nth-child(even) {
        // Portfolio item est composé de deux dive (une de 65 % de largeur pour le contenu
        // et une de 35 % pour compléter pour tout les éléments paire, je change l'ordre
        .portfolio-contenu {
            order: 2;
            & .text-container-portfolio {
                margin-right: $dimension;
            }
        }
    }

    .portfolio-item:nth-child(odd) {
        .portfolio-contenu {
            & .text-container-portfolio {
                margin-left: $dimension;
            }
        }
    }

    .portfolio-title {
        text-transform: uppercase;
        color: $orange;
        font-size: 35px;
    }

    img {
        transition: all 0.2s ease-in-out;
    }

    .img-hover:hover {
        transform: scale(1.3);
    }
}
